

<section class="services-section section-padding30 fix">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-xl-10 col-lg-10 col-md-12">
				<div class="section-tittle text-center">
					<span>Our Services</span>
					<h2>
						We bring ideas to life by combining years of experiences of our very
						talented team.
					</h2>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="about-area fix">
	<!--Right Contents  -->
	<div class="about-img"></div>
	<!-- left Contents -->
	<div class="about-details">
		<div class="right-caption">
			<!-- Section Tittle -->
			<div class="section-tittle mb-50">
				<h2>IT Services</h2>
			</div>
			<div class="about-more">
				<p class="pera-bottom">
					Tophatrix is a next-generation global technology company that helps
					enterprises reimagine their businesses for the digital age. Our
					technology products and services are built on four decades of
					innovation, with a world-renowned management philosophy, a strong
					culture of invention and risk-taking, and a relentless focus on
					customer relationships. Tophatrix also takes pride in its many
					diversity, social responsibility, sustainability, and education
					initiatives.
				</p>

				<!-- <div class="footer-tittles">
					<p>CEO, Consulto</p>
					<h2>Capcilena Hanry</h2>
				</div> -->
			</div>
		</div>
	</div>
</section>
<section class="sample-text-area">
	<div class="container box_1170">
		<!-- <h3 class="text-heading">About Us</h3> -->

		<p class="sample-text">
			Enterprises across industries stand at an inflection point today. In order
			to thrive in the digital age, technologies such as analytics, cloud, IoT,
			and automation occupy center stage. In order to offer enterprises the
			maximum benefit of these technologies to further their business
			objectives, Tophatrix offers an integrated portfolio of products and
			services through three business units. These are IT and Business Services
			(ITBS).
		</p>
		<p class="sample-text">
			ITBS enables global enterprises to transform their businesses via Digital
			Foundation, our modernized infrastructure stack built around hybrid cloud,
			software-defined networks, the digital workplace, and other elements;
			Digital Business, a combination of our application services and consulting
			capabilities; and Digital Operations, a three-pronged setup for modernized
			and efficient operations at enterprise level.
		</p>
	</div>
</section>
<!-- About Area End-->
<!-- About Area Start 02-->
<!-- <div class="about-area2">
	<!-- left Contents --
	<div class="about-details2">
		<div class="right-caption2">
			<!-- Section Tittle --
			<div class="section-tittle mb-50">
				<h2>Creative solutions<br />from experts</h2>
			</div>
			<!-- collapse-wrapper --
			<div class="collapse-wrapper">
				<div class="accordion" id="accordionExample">
					<!-- single-one --
					<div class="card">
						<div class="card-header" id="headingOne">
							<h2 class="mb-0">
								<a
									href="#"
									class="btn-link"
									data-toggle="collapse"
									data-target="#collapseOne"
									aria-expanded="true"
									aria-controls="collapseOne"
									>The automated process starts.</a
								>
							</h2>
						</div>
						<div
							id="collapseOne"
							class="collapse show"
							aria-labelledby="headingOne"
							data-parent="#accordionExample"
						>
							<div class="card-body">
								The automated process starts as soon as your clothes go into the
								machine. Duis cursus, mi quis viverra ornare.
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header" id="headingTwo">
							<h2 class="mb-0">
								<a
									href="#"
									class="btn-link collapsed"
									data-toggle="collapse"
									data-target="#collapseTwo"
									aria-expanded="false"
									aria-controls="collapseTwo"
									>Starts the automated process.</a
								>
							</h2>
						</div>
						<div
							id="collapseTwo"
							class="collapse"
							aria-labelledby="headingTwo"
							data-parent="#accordionExample"
						>
							<div class="card-body">
								The automated process starts as soon as your clothes go into the
								machine. Duis cursus, mi quis viverra ornare.
							</div>
						</div>
					</div>

					<div class="card">
						<div class="card-header" id="headingThree">
							<h2 class="mb-0">
								<a
									href="#"
									class="btn-link collapsed"
									data-toggle="collapse"
									data-target="#collapseThree"
									aria-expanded="false"
									aria-controls="collapseThree"
									>Automated process starts.</a
								>
							</h2>
						</div>
						<div
							id="collapseThree"
							class="collapse"
							aria-labelledby="headingThree"
							data-parent="#accordionExample"
						>
							<div class="card-body">
								The automated process starts as soon as your clothes go into the
								machine. Duis cursus, mi quis viverra ornare.
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header" id="headingfouree">
							<h2 class="mb-0">
								<a
									href="#"
									class="btn-link collapsed"
									data-toggle="collapse"
									data-target="#collapseFoure"
									aria-expanded="false"
									aria-controls="collapseFoure"
									>Process the automated magic.</a
								>
							</h2>
						</div>
						<div
							id="collapseFoure"
							class="collapse"
							aria-labelledby="headingfouree"
							data-parent="#accordionExample"
						>
							<div class="card-body">
								The automated process starts as soon as your clothes go into the
								machine. Duis cursus, mi quis viverra ornare.
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> -->
	<!--Right Contents  -->
	<!-- <div class="about-img2">
		<div class="info-man2">
			<div class="head-cap2">
				<img src="assets/img/icon/quality.svg" alt="" />
				<h3>900+</h3>
			</div>
			<p>Interdum nulla, ut commodo<br />diam libero vitae erat.</p>
		</div>
		<div class="info-man2 info-man3">
			<div class="head-cap2">
				<img src="assets/img/icon/heart.svg" alt="" />
				<h3>95%</h3>
			</div>
			<p>
				Interdum nulla, ut commodo<br />
				diam libero vitae erat.
			</p>
		</div>
	</div> -->
</div>
