<section id="services" class="home-blog section-padding40 fix">
	<div class="container">
		<div class="row justify-content-center">
			<div class="cl-xl-7 col-lg-8 col-md-10">
				<!-- Section Tittle -->
				<div class="section-tittle text-center mb-70">
					<span>Our Services</span>
					<h2>Some great stuffs we have done</h2>
				</div>
			</div>
		</div>
		<div class="blog-active">
			<!-- Single -->
			<div class="single-blogs">
				<div class="blog-img">
					<img src="assets/img/gallery/blogs1.png" alt="" />
				</div>
				<div class="blogs-cap">
					<h5><a href="#">IT Services</a></h5>
					<p id="shrinkMe" class="shrinkable">
						Smart organizations understand that true digital effectiveness lies
						in identifying the optimal technologies to drive more value, with
						reduced effort.
						<br />
						At Tophatrix IT Services, we're re-imagining enterprise
						productivity. We help our partners overcome bottlenecks and silos,
						and build connected business systems that scale in real-time. It's
						time you unlearned legacy processes and deployed emerging technology
						to create new revenue streams and enable delivery on-demand .
					</p>
				</div>
				<div class="stickers">
					<span>Urban</span>
				</div>
			</div>
			<div class="single-blogs">
				<div class="blog-img">
					<img src="assets/img/gallery/blogs2.png" alt="" />
				</div>
				<div class="blogs-cap">
					<h5><a href="#">Starts the automated process.</a></h5>
					<p id="shrinkMe2" class="shrinkable">
						The automated process starts as soon as your clothes go into the
						machine.
					</p>
				</div>
				<div class="stickers">
					<span>Urban</span>
				</div>
			</div>
			<div class="single-blogs">
				<div class="blog-img">
					<img src="assets/img/gallery/blogs3.png" alt="" />
				</div>
				<div class="blogs-cap">
					<h5><a href="#">Starts the automated process.</a></h5>
					<p id="shrinkMe3" class="shrinkable">
						The automated process starts as soon as your clothes go into the
						machine.
					</p>
				</div>
				<div class="stickers">
					<span>Urban</span>
				</div>
			</div>
		</div>
	</div>
</section>
