<section
	class="wantToWork-area section-bg2"
	data-background="assets/img/gallery/section_bg01.png"
>
	<div class="container">
		<div class="wants-wrapper w-padding2">
			<div class="row align-items-center justify-content-between">
				<div class="col-xl-7 col-lg-7 col-md-12">
					<div class="wantToWork-caption wantToWork-caption2">
						<h2>Need a consulting services?</h2>
						<p>
							The automated process starts as soon as your clothes go into the
							machine. Duis cursus, mi quis viverra ornare, eros dolor interdum
							nulla.
						</p>
					</div>
				</div>
				<div class="col-xl-4 col-lg-4 col-md-6">
					<a href="#" class="btn w-btn wantToWork-btn mr-20"
						>Make an Appointment</a
					>
					<a href="#" class="btn2 w-btn wantToWork-btn"
						><i class="fas fa-phone"></i> (89) 673 378-309</a
					>
				</div>
			</div>
		</div>
	</div>
</section>
