<!-- ? Preloader Start -->
<div id="preloader-active">
	<div class="preloader d-flex align-items-center justify-content-center">
		<div class="preloader-inner position-relative">
			<div class="preloader-circle"></div>
			<div class="preloader-img pere-text">
				<img src="assets/img/logo/loder.png" alt="" />
			</div>
		</div>
	</div>
</div>
<!-- Preloader Start-->
<header>
	<!-- Header Start -->
	<div class="header-area header_area">
		<div class="main-header">
			<div class="header-bottom header-sticky">
				<div class="container-fluid">
					<div class="row align-items-center">
						<!-- Logo -->
						<div class="col-xl-2 col-lg-2 col-md-1">
							<div class="logo">
								<a href="/" style="color: black">
									<!-- <img src="assets/img/logo/logo.png" alt="" /> -->
									<h1>Tophatrix</h1>
								</a>
							</div>
						</div>
						<div class="col-xl-10 col-lg-10 col-md-8">
							<div class="header-left d-flex f-right align-items-center">
								<!-- Main-menu -->
								<div class="main-menu f-right d-none d-lg-block">
									<nav>
										<ul id="navigation">
											<li><a href="/">Home</a></li>
											<!-- <li>
												<a href="#">Pages</a>
												<ul class="submenu">
													<li><a href="about.html">about</a></li>
													<li><a href="elements.html">Element</a></li>
												</ul>
											</li> -->
											<!-- <li><a href="/#services">Services</a></li> -->
											<li>
												<a href="/careers">Jobs</a>
												<!-- <ul class="submenu">
													<li><a href="blog.html">Blog</a></li>
													<li>
														<a href="blog_details.html">Blog Details</a>
													</li>
												</ul> -->
											</li>
											<li><a href="/contact">Contact</a></li>
										</ul>
									</nav>
								</div>
								<!-- left Btn -->
								<div class="header-right-btn f-right d-none d-lg-block ml-30">
									<a href="tel:+04064625212" class="header-btn">Call Us</a>
								</div>
							</div>
						</div>
						<!-- Mobile Menu -->
						<div class="col-12">
							<div class="mobile_menu d-block d-lg-none"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Header End -->
</header>
