<div
	class="slider-area slider-height position-relative"
	data-background="assets/img/hero/h1_hero.png"
>
	<div class="slider-active">
		<!-- Single Slider -->
		<div class="single-slider">
			<div class="slider-cap-wrapper">
				<div class="hero-caption">
					<span>Best Service</span>
					<h1 data-animation="fadeInLeft" data-delay=".4s">
						Business Consulting
					</h1>
					<p data-animation="fadeInLeft" data-delay=".6s">
						The automated process starts as soon as your clothes go into the
						machine.
					</p>
					<!-- Hero Btn -->
					<a
						href="#services"
						class="btn"
						data-animation="fadeInLeft"
						data-delay=".9s"
						>Explore Services</a
					>
				</div>
				<div class="hero-img">
					<img
						src="assets/img/hero/h1_hero1.png"
						alt=""
						data-animation="fadeInRight"
						data-transition-duration="5s"
					/>
				</div>
			</div>
		</div>
	</div>
	<!-- Video icon -->
	<div class="video-icon">
		<!-- <a
						class="popup-video btn-icon"
						href="https://www.youtube.com/watch?v=up68UAfH0d0"
						><i class="fas fa-play"></i
					></a> -->
		<a class="popup-video btn-icon" href=""><i class="fas fa-play"></i></a>
	</div>
</div>
