<div class="site-section">
	<div class="container demo">
		<div
			class="panel-group"
			id="accordion"
			role="tablist"
			aria-multiselectable="true"
            data-aos="fade-up"
		>
			<div class="panel panel-default">
				<div class="panel-heading" role="tab" id="headingOne">
					<h4 class="panel-title">
						<a
							role="button"
							data-toggle="collapse"
							data-parent="#accordion"
							href="#collapseOne"
							aria-expanded="true"
							aria-controls="collapseOne"
						>
							<i class="more-less bx bxs-chevron-down"></i>
							<h2 class="display-3 line-height-xs text-black mb-4 font-change">
								Performance Tester
							</h2>
						</a>
					</h4>
				</div>
				<div
					id="collapseOne"
					class="panel-collapse collapse"
					role="tabpanel"
					aria-labelledby="headingOne"
				>
					<div class="panel-body">
						<ul class="site-block-check">
							<li>Job ID: GICR-110</li>
							<li>Career Area: Information Technology</li>
							<li>
								Job Category: Information Technology-Information Communication
								Technology
							</li>
							<li>Location: Hyderabad, Telangana, IN</li>
							<li>Date Posted: March 29, 2021</li>
							<li>Brand: FCA Group</li>
						</ul>
						<p class="mb-4">
							Our benefits reflects the FCA commitment to helping you reach your
							personal and professional goals. In addition to an environment
							that promotes career development, we offer benefits for a healthy
							lifestyle and a rewarding future, designed to take care of you and
							your family, in various stages of life.
						</p>
						<p class="mb-4">
							As a global company, our employee packages will vary by country,
							customary norms and the legal entity into which you are hired.
						</p>
					</div>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading" role="tab" id="headingTwo">
					<h4 class="panel-title">
						<a
							class="collapsed"
							role="button"
							data-toggle="collapse"
							data-parent="#accordion"
							href="#collapseTwo"
							aria-expanded="false"
							aria-controls="collapseTwo"
						>
							<i class="more-less bx bxs-chevron-down"></i>
							<h2 class="display-3 line-height-xs text-black mb-4 font-change">
								Java Developer and Ops Specialist – Software Quality and
								Validation
							</h2>
						</a>
					</h4>
				</div>
				<div
					id="collapseTwo"
					class="panel-collapse collapse"
					role="tabpanel"
					aria-labelledby="headingTwo"
				>
					<div class="panel-body">
						<ul class="site-block-check">
							<li>Job ID: GIC-FCA-Che-2021-02-04-2663</li>
							<li>Career Area: Information Technology</li>
							<li>
								Job Category: Information Technology-Information Communication
								Technology
							</li>
							<li>Location: Hyderabad, Telangana, IN</li>
							<li>Date Posted: March 2, 2021</li>
							<li>Brand: FCA Group</li>
						</ul>
						<p class="mb-4">
							<strong>Key Responsibilities:</strong> <br />Devops role for FCA
							‘All Data Application (ADA) connected vehicle application’
							Developer with experience in building high-performing, scalable,
							enterprise-grade applications. 2+ years of experience in Java/Java
							EE application development and other modern languages. Strong
							communication skills. Collaborate with other professionals to
							determine functional and nonfunctional requirements for
							new/existing software or applications. Define all aspects of
							development from appropriate technology and workflow to coding
							standards. Communicate successfully all concepts and guidelines to
							the development team.
						</p>

						<ul class="site-block-check">
							<p>
								<strong
									>Job responsibilities include but not limited to:</strong
								>
							</p>
							<li>
								<i class="bx bx-check-circle"></i> Responsible for development,
								testing, support & troubleshooting of new AWS microservices,
								APIs and web applications and modification in existing
								applications as per requirements by studying / analyzing
								requirements.
							</li>
							<li>
								<i class="bx bx-check-circle"></i> Oversee progress of the
								development team to ensure consistency with initial design.
							</li>
							<li class="list-items">
								<i class="bx bx-check-circle"></i> Executes common Agile/SCRUM
								and Kanban processes and standards to define, build, and launch
								the correct End Result:
                                <!-- <ul class="site-block-check"> -->
									<li>
										<i class="bx bx-check-circle"></i> Develop design
										specifications, installation instructions and other
										system-related information.
									</li>
									<li>
										<i class="bx bx-check-circle"></i> Design, develop,
										implement and maintain series of services, subsystem,
										revision and enhancement of current system.
									</li>
									<li>
										<i class="bx bx-check-circle"></i> Provide operational
										support of day-to-day operations
									</li>
									<li>
										<i class="bx bx-check-circle"></i> Verify stability,
										interoperability, portability, security and scalability of
										system architecture.
									</li>
									<li>
										<i class="bx bx-check-circle"></i> Provide technical
										guidance and coaching.
									</li>
									<li>
										<i class="bx bx-check-circle"></i> Experience in web
										technologies like Knockout Framework, HTML, JavaScript, CSS,
										JQuery, Ajax.
									</li>
									<li>
										<i class="bx bx-check-circle"></i> Excellent knowledge of
										software and application design and architecture
									</li>
									<li>
										<i class="bx bx-check-circle"></i> Experience with AWS
										services- lambda, api gateway, dynamodb, cloudwatch
									</li>
									<li>
										<i class="bx bx-check-circle"></i> High quality
										organizational and leadership skills
									</li>
									<li>
										<i class="bx bx-check-circle"></i> Outstanding
										communication and presentation abilities
									</li>
									<li>
										<i class="bx bx-check-circle"></i> Self-motivated, driven
										and capable of working unsupervised
									</li>
								<!-- </ul> -->
							</li>
							<p>
								<strong>Essential:</strong>
							</p>

							<li>
								<i class="bx bx-check-circle"></i> 3-6 years of total technical
								work experience preferably in to Java/J2EE or Node.js front end
								and back end applications
							</li>
							<li>
								<i class="bx bx-check-circle"></i> Able to provide functional
								support in good time in order to respond to critical usage
								requests from the business.
							</li>
							<li>
								<i class="bx bx-check-circle"></i> Excellent Communication
								skills
							</li>
							<li>
								<i class="bx bx-check-circle"></i> Strong SDLC knowledge (Agile)
							</li>
							<li>
								<i class="bx bx-check-circle"></i> In-depth knowledge of Object
								Oriented Analysis and software design principles
							</li>
							<li>
								<i class="bx bx-check-circle"></i> Exceptional organization and
								time management to meet timelines
							</li>
							<li>
								<i class="bx bx-check-circle"></i> Confirms architecture
								capability and flexibility to support high availability web
								applications by developing analytical models; completing
								validation tests.
							</li>
							<li>
								<i class="bx bx-check-circle"></i> Convey architectural
								solutions to all levels of professionals and leaders.
							</li>
							<li>
								<i class="bx bx-check-circle"></i> Identify, review and present
								input on project activities and plans.
							</li>
							<li>
								<i class="bx bx-check-circle"></i> Working knowledge on data
								analytics.
							</li>
							<li>
								<i class="bx bx-check-circle"></i> Working knowledge of Agile
								and DevOps
							</li>
							<p>
								<strong>Desirable:</strong>
							</p>
							<li>
								<i class="bx bx-check-circle"></i> Experience with deploying
								services in AWS including Certification (Associate or
								Professional)
							</li>
							<li>
								<i class="bx bx-check-circle"></i> Connected vehicle experience
							</li>
							<li>
								<i class="bx bx-check-circle"></i> Knowledge of MQTT and broker
								configuration (HiveMQ, Mosquitto)
							</li>
							<li>
								<i class="bx bx-check-circle"></i> Working knowledge of C, C++,
								Python, Javascript
							</li>
							<li>
								<i class="bx bx-check-circle"></i> Familiar with embedded
								systems
							</li>
							<li>
								<i class="bx bx-check-circle"></i> High proficiency with Linux
								OS and variants
							</li>
							<li>
								<i class="bx bx-check-circle"></i> Collaborate with other
								developers across regions, clients, managers and information
								architects to determine system requirements, deliverables and
								project milestones
							</li>
							<li>
								<i class="bx bx-check-circle"></i> Flexible accommodations of
								working with colleagues in different time zones
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading" role="tab" id="headingThree">
					<h4 class="panel-title">
						<a
							class="collapsed"
							role="button"
							data-toggle="collapse"
							data-parent="#accordion"
							href="#collapseThree"
							aria-expanded="false"
							aria-controls="collapseThree"
						>
							<i class="more-less bx bxs-chevron-down"></i>
							<h2 class="display-3 line-height-xs text-black mb-4 font-change">
								Full Stack Android/iOS Mobile Developer
							</h2>
						</a>
					</h4>
				</div>
				<div
					id="collapseThree"
					class="panel-collapse collapse"
					role="tabpanel"
					aria-labelledby="headingThree"
				>
					<div class="panel-body">
						<ul class="site-block-check">
							<li>Job ID: GICR-264</li>
							<li>Career Area: Information Technology</li>
							<li>
								Job Category: Information Technology-Information Communication
								Technology
							</li>
							<li>Location: Hyderabad, Telangana, IN</li>
							<li>Date Posted: March 2, 2021</li>
							<li>Brand: FCA Group</li>
						</ul>

						<ul class="site-block-check">
							<p>
								<strong>Key Responsibilities:</strong>
							</p>
							<li>
								<i class="bx bx-check-circle"></i> Write web application code
								following best practices of accessibility, internationalization
								and instrumentation.
							</li>
							<li>
								<i class="bx bx-check-circle"></i> Partner closely with design &
								product to craft great product experiences.
							</li>
							<li>
								<i class="bx bx-check-circle"></i> Be a crafts(wo)man and
								encourage code craftsmanship across the team.
							</li>
							<li>
								<i class="bx bx-check-circle"></i> Deliver code in an agile team
								environment.
							</li>
							<li>
								<i class="bx bx-check-circle"></i> Assist with application
								deployments in our Cloud environment.
							</li>
							<li>
								<i class="bx bx-check-circle"></i> Drive innovation through
								rapid prototyping and iterative development.
							</li>
							<li>
								<i class="bx bx-check-circle"></i> Collaborate with a dynamic
								team utilizing technologies ranging from React and Python to
								Machine and Deep Learning to aid in accurately and efficiently
								diagnosing our vehicles
							</li>
							<li>
								<i class="bx bx-check-circle"></i> Design and develop new
								features towards improved customer experience
							</li>
							<li>
								<i class="bx bx-check-circle"></i> Assess concepts for
								feasibility from a technical perspective.
							</li>
							<li>
								<i class="bx bx-check-circle"></i> Work with product managers,
								creative storytellers, and designers to build impactful,
								easy-to-understand prototypes.
							</li>
							<li>
								<i class="bx bx-check-circle"></i> Participate in internal
								concepting and ideation sessions and bring an engineering
								perspective to the discussion.
							</li>
							<li>
								<i class="bx bx-check-circle"></i> Apply design thinking to
								problem solving.
							</li>
							<li>
								<i class="bx bx-check-circle"></i> Develop the underlying
								infrastructure for the team to support faster development of
								future proof-of-concepts.
							</li>
							<p>
								<strong>Experience:</strong>
							</p>
							<li>
								<i class="bx bx-check-circle"></i> 2-4 years relevant technical
								experience
							</li>
							<li>
								<i class="bx bx-check-circle"></i> Solid understanding of object
								oriented programming and functional programming principles
							</li>
							<li>
								<i class="bx bx-check-circle"></i> Experience in building highly
								scalable architectures
							</li>
							<li>
								<i class="bx bx-check-circle"></i> Excellent interpersonal,
								communication, and collaboration skills
							</li>
							<li>
								<i class="bx bx-check-circle"></i> An ability to marry code
								quality and business need for the ‘right’ level of elegance for
								a given piece of code.
							</li>
							<li>
								<i class="bx bx-check-circle"></i> A desire to work with people
								and not just machines.
							</li>
							<li>
								<i class="bx bx-check-circle"></i> A “flow”-like level
								productivity / getting in the zone when coding.
							</li>
							<li>
								<i class="bx bx-check-circle"></i> A desire to grow your
								familiarity with a breadth of new technologies and apply them,
								whether that is a new coding language, getting into machine
								learning or computer vision for the first time, or testing out
								the API for a new startup’s pre-release hardware.
							</li>
							<li>
								<i class="bx bx-check-circle"></i> Experience with across a
								broad range of platforms (software + hardware).
							</li>
							<li>
								<i class="bx bx-check-circle"></i> Experience with Cocoa,
								Android SDK, React Native, Flutter, Unity.
							</li>
							<li>
								<i class="bx bx-check-circle"></i> Experience with AR/VR
								leveraging Vuforia.
							</li>
							<li>
								<i class="bx bx-check-circle"></i> Experience writing tests that
								prevent regressions + stable and well documented git flow /
								process.
							</li>
							<li>
								<i class="bx bx-check-circle"></i> Experience with the basics of
								DevOps to support setting up environments and creating
								consistency and security via Docker, AWS, and other tools.
							</li>
							<li>
								<i class="bx bx-check-circle"></i> Experience working closely
								with a product manager or product team.
							</li>
							<li>
								<i class="bx bx-check-circle"></i> A hunger to change the world
								for the better through technology.
							</li>
							<li>
								<i class="bx bx-check-circle"></i> Passion for what’s next.
							</li>
							<li>
								<i class="bx bx-check-circle"></i> Maintaining and blending
								pragmatism about what’s possible with where we can stretch
								ourselves to go further.
							</li>
							<li>
								<i class="bx bx-check-circle"></i> Willing to work to change the
								status quo when you think improvements are available.
							</li>
							<li>
								<i class="bx bx-check-circle"></i> Willing to work within
								established protocols while you go about changing them in order
								to maintain consistency in application development.
							</li>
							<p>
								<strong>Specific Skill Requirement:</strong>
							</p>
							<li>
								<i class="bx bx-check-circle"></i> Hands-on development
								experience with cross platform languages (Google Flutter &
								Unity)
							</li>
							<li>
								<i class="bx bx-check-circle"></i> Hands-on development
								experience with AR/VR, leveraging Vuforia
							</li>
							<li>
								<i class="bx bx-check-circle"></i> Knowledge of HTML/CSS and
								JavaScript
							</li>
							<li>
								<i class="bx bx-check-circle"></i> In-depth understanding of
								automotive industry trends and market conditions
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading" role="tab" id="headingFour">
					<h4 class="panel-title">
						<a
							class="collapsed"
							role="button"
							data-toggle="collapse"
							data-parent="#accordion"
							href="#collapseFour"
							aria-expanded="false"
							aria-controls="collapseFour"
						>
							<i class="more-less bx bxs-chevron-down"></i>
							<h2 class="display-3 line-height-xs text-black mb-4 font-change">
								Devops Engineer
							</h2>
						</a>
					</h4>
				</div>
				<div
					id="collapseFour"
					class="panel-collapse collapse"
					role="tabpanel"
					aria-labelledby="headingFour"
				>
					<div class="panel-body">
						<ul class="site-block-check">
							<li>Job ID: GIC-FCA-Che-2021-02-18-2713</li>
							<li>Career Area: Information Technology</li>
							<li>
								Job Category: Information Technology-Information Communication
								Technology
							</li>
							<li>Location: Hyderabad, Telangana, IN</li>
							<li>Date Posted: March 8, 2021</li>
							<li>Brand: FCA Group</li>
						</ul>
						<p class="mb-4">
							<strong>Key Responsibilities:</strong>

							<br />
							<strong>Job Description: </strong> We are looking for a full-stack
							software engineer with DevOps experience to work within FCA’s
							Enterprise DevOps Enablement Team. In this role you will be a
							vital part of developing and influencing new service experiences
							for FCA’s end customers in achieving FCA’s Vision to be the most
							customer centric mobility services company in the world. As a
							DevOps engineer, not only will you develop leading edge solutions,
							more importantly you will be helping FCA’s Enterprise DevOps
							Enablement Team further mature itself with respect to DevOps
							adoption. You will work as part of a team to build, configure and
							support enterprise DevOps pipelines. You will work with internal
							teams and 3rd party vendors to provide secure, reliable and
							scalable solutions. The successful candidate will automate testing
							and deployment of software by creating and maintaining Continuous
							Integration/ Continuous Deployment (CI/CD) pipelines using
							standard industry tooling.
						</p>
						<ul class="site-block-check">
							<p>
								<strong>Experience:</strong> <br />
								<strong>Basic Qualifications: </strong>
							</p>

							<li>
								<i class="bx bx-check-circle"></i> Bachelor’s degree in computer
								science or equivalent
							</li>
							<li>
								<i class="bx bx-check-circle"></i> Three years of experience
								Agile, SCRUM, DevOps, Six Sigma
							</li>
							<li>
								<i class="bx bx-check-circle"></i> Experience defining
								Continuous Process Improvement and acting as a Change Agent
								within organization
							</li>
							<li>
								<i class="bx bx-check-circle"></i> Experience in designing and
								implementing continuous integration and deployment pipelines
								(CI/CD) using tools (GitHub, Jenkins, Zuul, Artifactory,
								Ansible, Selenium, Postman, Maven, Sonarqube etc.)
							</li>
							<li>
								<i class="bx bx-check-circle"></i> Proficiency with modern
								software development practices including trunk based
								development, test-driven development and software test
								automation
							</li>
							<li>
								<i class="bx bx-check-circle"></i> Good understanding of build
								management and release processes
							</li>
							<li>
								<i class="bx bx-check-circle"></i> Excellent communication and
								leadership skills
							</li>
							<li>
								<i class="bx bx-check-circle"></i> Ability to work with multiple
								global teams and thrive in diverse settings.
							</li>
							<p>
								<strong>Preferred Qualifications: </strong>
							</p>
							<li>
								<i class="bx bx-check-circle"></i> Experience with building high
								performing web based applications or mobile applications in iOS
								and Android
							</li>
							<li>
								<i class="bx bx-check-circle"></i> Familiarity with back-end
								programming language {e.g., Java, PHP, Python, Ruby, Node.js or
								JavaScript} and technology frameworks–both front-end and
								back-end, {e.g., React, Vue, Laravel or Flask}
							</li>
							<li>
								<i class="bx bx-check-circle"></i> Working experience in
								building applications using microservices architecture and
								ability to work with Cloud hosting platforms such as Openstack,
								AWS, GCP, Azure, etc.
							</li>
							<li>
								<i class="bx bx-check-circle"></i> Experience in API based
								interfaces or Web-services; building for low latency and
								services with best practices for security using OWASP
								guidelines.
							</li>
							<p>
								<strong>Specific Skill Requirement:</strong>
							</p>
							<li>
								<i class="bx bx-check-circle"></i> Three years of experience
								Agile, SCRUM, DevOps, Six Sigma
							</li>
							<li>
								<i class="bx bx-check-circle"></i> Experience defining
								Continuous Process Improvement and acting as a Change Agent
								within organization
							</li>
							<li>
								<i class="bx bx-check-circle"></i> Experience in designing and
								implementing continuous integration and deployment pipelines
								(CI/CD) using tools (GitHub, Jenkins, Artifactory,
								Ansible,Terraform, Selenium, Postman, Maven, Sonarqube etc.)
							</li>
							<li>
								<i class="bx bx-check-circle"></i> Proficiency with modern
								software development practices including trunk based
								development, test-driven development and software test
								automation
							</li>
							<li>
								<i class="bx bx-check-circle"></i> Good understanding of build
								management and release processes
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading" role="tab" id="headingFive">
					<h4 class="panel-title">
						<a
							class="collapsed"
							role="button"
							data-toggle="collapse"
							data-parent="#accordion"
							href="#collapseFive"
							aria-expanded="false"
							aria-controls="collapseFive"
						>
							<i class="more-less bx bxs-chevron-down"></i>
							<h2 class="display-3 line-height-xs text-black mb-4 font-change">
								Software Engineer and Developer
							</h2>
						</a>
					</h4>
				</div>
				<div
					id="collapseFive"
					class="panel-collapse collapse"
					role="tabpanel"
					aria-labelledby="headingFive"
				>
					<div class="panel-body">
						<ul class="site-block-check">
							<li>Job ID: GIC-FCA-Che-2020-09-28-2292</li>
							<li>Career Area: Information Technology</li>
							<li>
								Job Category: Information Technology-Information Communication
								Technology
							</li>
							<li>Location: Hyderabad, Telangana, IN</li>
							<li>Date Posted: February 15, 2021</li>
							<li>Brand: FCA Group</li>
						</ul>
						<p class="mb-4">
							<strong>Key Responsibilities:</strong>

							<br />
							The Software Engineer and Developer is responsible for developing
							code to automate security processes within the CISO organization.
							This could include orchestration and response, interface between
							systems, automation of data collection and alerting. The ideal
							candidate is a strong programmer that can flexibly develop
							solutions for multiple stakeholders in the organization. The ideal
							candidate will create and deploy creative security solutions / use
							cases that increase the efficiency of the CISO team.
						</p>
						<ul class="site-block-check">
							<p>
								<strong>Essential: </strong>
							</p>
							<li>
								<i class="bx bx-check-circle"></i> 3+ years in relevant software
								development experience , security automation
							</li>
							<p>
								<strong>Desired: </strong>
							</p>
							<li>
								<i class="bx bx-check-circle"></i> 4+ years in relevant software
								development experience, security automation
							</li>
							<p>
								<strong>Specific Skill Requirement: </strong>
							</p>
							<li>
								<i class="bx bx-check-circle"></i> Python, R , Visual Basic,
								Java, or any other relevant programming language, AWS platform
								experience preferred
							</li>
							<li><i class="bx bx-check-circle"></i> Network Security</li>
							<li><i class="bx bx-check-circle"></i> Embedded Systems</li>
							<li><i class="bx bx-check-circle"></i> Developing/Scripting</li>
							<li>
								<i class="bx bx-check-circle"></i> Experience automating data
								processing, network orchestrated actions with code.
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading" role="tab" id="headingSix">
					<h4 class="panel-title">
						<a
							class="collapsed"
							role="button"
							data-toggle="collapse"
							data-parent="#accordion"
							href="#collapseSix"
							aria-expanded="false"
							aria-controls="collapseSix"
						>
							<i class="more-less bx bxs-chevron-down"></i>
							<h2 class="display-3 line-height-xs text-black mb-4 font-change">
								Active Directory Engineer
							</h2>
						</a>
					</h4>
				</div>
				<div
					id="collapseSix"
					class="panel-collapse collapse"
					role="tabpanel"
					aria-labelledby="headingSix"
				>
					<div class="panel-body">
						<ul class="site-block-check">
							<li>Job ID: GIC-FCA-Che-2021-01-22-2632</li>
							<li>Career Area: Information Technology</li>
							<li>
								Job Category: Information Technology-Information Communication
								Technology
							</li>
							<li>Location: Hyderabad, Telangana, IN</li>
							<li>Date Posted: February 17, 2021</li>
							<li>Brand: FCA Group</li>
						</ul>

						<ul class="site-block-check">
							<p>
								<strong>Key Responsibilities:</strong> <br />
								<strong
									>Job responsibilities include but not limited to:</strong
								>
							</p>
							<li>
								<i class="bx bx-check-circle"></i> Subject matter expert in
								Active Directory and associated components.
							</li>
							<li>
								<i class="bx bx-check-circle"></i> Develop solutions,
								procedures, implement test plans, develop migration plans, cross
								train technical analyst and oversee the implementation.
							</li>
							<li>
								<i class="bx bx-check-circle"></i> Delivers documentation for
								Active Directory solutions, works with second level support for
								implementation; serves as a third level escalation support to
								drive complex incidents or issue resolution.
							</li>
							<li>
								<i class="bx bx-check-circle"></i> Collaborates with solution
								architects, infrastructure specialists, application teams and
								project managers. Translate business needs into long-term
								architecture solutions; integrates applications authentication
								and authorization based on requirements to on-prem and cloud
								solutions. Develop strategies for new technologies and implement
								enterprise deployment in compliance with global standards.
								Evaluates new products and\or services, provides recommendations
								and integrate Active Directory systems.
							</li>
							<li>
								<i class="bx bx-check-circle"></i> Demonstrates expertise in a
								variety of the fields concepts, practices, and procedures.
								Understand infrastructure services, networking topologies,
								protocols and practices. Relies on extensive experience and
								judgment to plan and accomplish goals. Performs a variety of
								complex tasks. A certain degree of creativity and latitude is
								required. May lead, train, and direct the work of others.
							</li>
							<p>
								<strong>Essential:</strong>
							</p>
							<li>
								<i class="bx bx-check-circle"></i> Expert in Active Directory
								and Microsoft systems and associated components.
							</li>
							<li>
								<i class="bx bx-check-circle"></i> Large Enterprise Active
								Directory Design experience (greater than 30 Domain controllers)
								spanning multiple locations and business units.
							</li>
							<li>
								<i class="bx bx-check-circle"></i> Multi-forest expertise with
								an understanding of Kerberos and NLTM, LDAP and SAML protocols
								required.
							</li>
							<li>
								<i class="bx bx-check-circle"></i> In-depth understanding of
								Active Directory Replication, DNS, Site Links, Site Topology,
								Group Policy, Global Catalogs, Security, Domain Controllers and
								other core infrastructure components required.
							</li>
							<li>
								<i class="bx bx-check-circle"></i>
								<strong>Experience with the following technologies:</strong>
								Windows Server 2012\2016 required. Ability to use PowerShell to
								assist in the automation of tasks, required.
							</li>
							<li>
								<i class="bx bx-check-circle"></i> Performance baseline, backup
								and restore, disaster recovery, troubleshooting and complex
								problem solving on an enterprise network, large distributed
								Domain Controllers in multi-forest Active Directory environment.
							</li>
							<li>
								<i class="bx bx-check-circle"></i> Knowledgeable on deploying
								Domain Controllers, placing, on-boarding of new services,
								application\systems integration on a large distributed network.
							</li>
							<li>
								<i class="bx bx-check-circle"></i> Experienced on complex
								problem solving and troubleshooting of authentication services
								and systems integration.
							</li>
							<li>
								<i class="bx bx-check-circle"></i> Ability to consult and
								collaborate with application and infrastructure teams on
								Authentication / Authorization requirements and integration to
								directory services.
							</li>
							<li>
								<i class="bx bx-check-circle"></i>
								<strong>Soft skills:</strong> Good communicator (writing,
								verbal), self-learner, team player, flexible, reliable,
								proactive
							</li>
							<p>
								<strong>Desirable: </strong>
							</p>
							<li>
								<i class="bx bx-check-circle"></i> Cloud experience with IAAS
								and PAAS infrastructures and experience with AzureAD and AWS is
								desirable.
							</li>
							<p>
								<strong>Specific Skill Requirement:</strong>
							</p>
							<li>
								<i class="bx bx-check-circle"></i> Active Directory Design
								understanding,Windows Server 2012\2016, PowerShell Scripting &
								command experience, Domain Controllers promotion & demotion
								automation, understanding AD trust setup and requirements,
								troubleshooting AD connectivity and technical issues, Group
								Policies, AD Sites and Services, AD application integration,
								understanding of Kerberos and NLTM, LDAP and SAML protocols,
								ability to write solutions and develop technical instructions as
								well as coordinate and facilitate implementation.
							</li>
							<li>
								<i class="bx bx-check-circle"></i>
								<strong>Soft Skills: </strong> Good communicator (writing,
								verbal), self-learner, team player, flexible, reliable,
								proactive.
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- panel-group -->
	</div>
</div>
