<section
	class="office-environments section-bg2 section-padding40"
	data-background="assets/img/gallery/section_bg02.png"
>
	<div class="container">
		<div class="row">
			<div class="col-xl-8 col-lg-8">
				<div class="office-pera">
					<div class="section-tittle">
						<h2 class="mb-30">About Us</h2>
						<p>
							Tophatrix is a next-generation global technology company that
							helps enterprises reimagine their businesses for the digital age.
							Our technology products and services are built on four decades of
							innovation, with a world-renowned management philosophy, a strong
							culture of invention and risk-taking, and a relentless focus on
							customer relationships. Tophatrix also takes pride in its many
							diversity, social responsibility, sustainability, and education
							initiatives.
						</p>

						<p>
							Enterprises across industries stand at an inflection point today.
							In order to thrive in the digital age, technologies such as
							analytics, cloud, IoT, and automation occupy center stage. In
							order to offer enterprises the maximum benefit of these
							technologies to further their business objectives, Tophatrix
							offers an integrated portfolio of products and services through
							three business units. These are IT and Business Services (ITBS).
						</p>
						<p>
							ITBS enables global enterprises to transform their businesses via
							Digital Foundation, our modernized infrastructure stack built
							around hybrid cloud, software-defined networks, the digital
							workplace, and other elements; Digital Business, a combination of
							our application services and consulting capabilities; and Digital
							Operations, a three-pronged setup for modernized and efficient
							operations at enterprise level.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
